/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 19 abr. 2026, 11:04:28
    Author     : Alvaro Artavia
*/

/* ===== BOTÓN BACK ===== */
.btn-back {
    -fx-background-color: #C8102E;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: 700;
    -fx-background-radius: 0px;
    -fx-padding: 14px 0;
    -fx-cursor: hand;
}

.btn-back:hover {
    -fx-background-color: #9E0F24;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 10, 0.3, 0, 2);
}

.btn-back:pressed {
    -fx-background-color: #bd1a31;
}